body {
    background-color: rgb(242, 244, 247);
    font-family: Helvetica;
    margin: 0;
}

div {
    margin: 5px;
}

p {
    display: inline-block;
}

img {
    width: 310px;
    margin-left: -28px;
}

input {
    display: block;
    outline: none;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221, 223, 226);
    width: 100%;
    box-sizing: border-box;
}

input:focus {
    border-color: rgb(8, 102, 255);
    opacity: 0.7;
    box-shadow: 0 0 0 2px rgb(231, 243, 255);
    caret-color: rgb(8 102 255);
}

button {
    border: none;
    font-weight: bold;
    font-size: 17px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: background-color 0.25s, opacity 0.2s;
}

button:hover {
    opacity: 0.9;
}

footer {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    position: fixed;
    bottom: 0;
    justify-self: center;
    width: 100%;
    box-sizing: border-box;
    height: 20%;
}

ul {
    padding: 0;
    margin: 0;
    text-align: left;
}

li {
    color: rgb(138, 141, 145);
    list-style-type: none;
    display: inline;
    margin-left: 5px;
}

a {
    text-decoration: none;
    color: rgb(138, 141, 145);
    font-size: 11px;
}

a:hover {
    text-decoration: underline;
}


#hr-div1, #hr-div2 {
    border-bottom-color: rgb(218, 221, 225);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    width: 100%;
    box-sizing: border-box;
}

#hr-div2 {
    width: 100%;
    max-width: 1000px;
    justify-self: center;
}

#languages-div, #links-div, #copyright-div {
    width: 100%;
    max-width: 1000px;
    justify-self: center;
}

#lang-plus {
    border: 1px solid rgb(100, 100, 100);
    color: rgb(0, 0, 0);
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-left: 0;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
}

#lang-plus:hover {
    background-color: rgb(200, 200, 200);
}

#copyright {
    color: rgb(138, 141, 145);
    font-size: 11px;
}

#logo-and-description-div {
    margin-bottom: 150px;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    place-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    height: 75vh;
}

#logo-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 0;
}

#connect-with-friends-div {
    width: 400px;
}

#connect-with-friends {
    margin: 0;
    margin-bottom: 15px;
    font-size: 26px;
}

#form-div {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    width: 300px;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#create-a-page-div {
    text-align: center;
    width: 330px;
    margin-top: 5px;
}

#create-a-page-paragraph {
    font-size: 12px;
}

#create-a-page-anchor {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#create-a-page-anchor:hover {
    text-decoration: underline;
}

#create-a-page-anchor:visited {
    color: black;
}

#login-button-div {
    width: 100%;
    margin: 0;
}

#login-button {
    background-color: rgb(8, 102, 255);
    width: 100%;
    height: 37px;
}

#login-button:active {
    background-color: rgb(7, 84, 206);
}

#forgot-password-div {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

#forgot-password {
    color: rgb(8, 102, 255);
    text-decoration: none;
    font-size: 12px;
    display: block;
}

#forgot-password:hover {
    text-decoration: underline;
}

#new-account-div {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

#new-account-button {
    background-color: rgb(66, 183, 42);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

#new-account-button:active {
    background-color: rgb(52, 145, 33);
}

@media only screen and (max-width: 905px) {
    #connect-with-friends {
        text-align: center;
        font-size: 22px;
    }

    #logo-div {
        justify-content: center;
    }

    img {
        margin: 0;
    }

    #logo-and-description-div {
        margin-bottom: 0px;
        align-self: end;
    }
}