body {
    background-color: rgb(245, 245, 245);
    background-repeat: no-repeat;
    font-family: 'Roboto', Arial;
    margin: 0;
    background-image: url('/images/backgroundPic.png');
    background-size: cover;
    background-position: center;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
    margin-bottom: 30px;
    width: 100vw;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

main {
    display: block;
    min-width: 350px;
    width: 75%;
    max-width: 1550px;
    margin: auto;
}      

ul {
    list-style-type: none;
    padding-left: 10px;
}

li {
    display: inline-block;
    fill: rgba(0, 0, 0, 0.32);
    transition: fill 0.25s;
}

li:hover {
    fill: rgb(4, 99, 222);
}

footer {
    border-top: rgba(0, 0, 0, 0.15) solid 3px;
    border-bottom: 0;
    display: flex;
    justify-content: space-evenly;
    color: rgb(74, 74, 74);
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 30px;
    width: 100vw;
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    position: relative;
    bottom: 0;
}

.underline {
    text-decoration: underline;
}

#header-logo-div {
    display: flex;
    align-items: center;
}

#header-title {
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline;
}

#top-anchor {
    color: rgb(74, 74, 74);
    text-decoration: underline;
    transition: color 0.25s;
}

#top-anchor:hover {
    color: rgb(4, 99, 222);
}

#footer-left {
    width: 100%;
    max-width: 300px;
}
