<ul>
    @if ((allAlbums()?.length ?? -1) > 0) {
        @for (album of allAlbums(); track album.id) {
            <li>
                <p class="album-number">
                    Album &numero;{{ album.id }}
                </p>

                <a routerLink="/albums/{{ album.id }}">
                    {{ album.title }}
                </a>

                <br>

                <button (click)="deleteAlbum(album.id)">Delete</button>
            </li>
        }
        <li style="display: flex; justify-content: flex-end; border: none; background-color: transparent; padding: 0;">
            <button (click)="deleteAllAlbums()">Delete All</button>
        </li>
    } @else if (allAlbums()?.length === 0) {
        <p>No albums available.</p>
    } @else {
        <div class="loader"></div>
    }
</ul>