body {
    font-family: "Roboto";
    color: white;
    background-color: rgb(200, 200, 200);
}

footer {
    border-top-color: rgb(65, 78, 91);
    border-top-width: 1px;
    border-top-style: solid;

    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 15vh;
    box-sizing: border-box;
    justify-self: center;
    color: rgb(175, 175, 175);
    text-decoration: none;
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

a {
    color: rgb(175, 175, 175);
    text-decoration: none;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
    padding-left: 15px;
}

select {
    appearance: none;
    background-color: transparent;
    background-image: url("media/arrow.svg");
    background-repeat: no-repeat;
    background-position: 50px 0;
    border: none;
    outline: none;
    color: rgb(175, 175, 175);
    margin: 0;
    cursor: pointer;
}

option {
    color: black;
}

input {
    display: block;
    background-color: rgb(24, 34, 38);
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    border: 1px solid rgb(65, 78, 91);
    border-radius: 15px;
    caret-color: white;
    color: white;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
}

input:hover {
    border-color: white;
}

input:focus {
    border-color: white;
}

button {
    display: block;
    width: 100%;
    outline: none;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: semi-bold;
    cursor: pointer;
    color: white;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    background-color: rgb(24, 34, 38);
    font-size: 15px;
}

button:hover {
    background-color: rgb(65, 78, 91);
}

button:active {
    opacity: 0.5;
    scale: 0.975;
}

label {
    color: rgb(114, 125, 137);
    transition: font-size 0.15s, top 0.15s;
    position: relative;
    top: -45px;
    left: 10px;
    pointer-events: none;
}

#password-input:focus ~ #label2,
#password-input:not(:placeholder-shown) ~ #label2,
#email-input:focus ~ #label1,
#email-input:not(:placeholder-shown) ~ #label1 {
    font-size: 12px;
    top: -57px;
}



.gradient {
    background-image: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
    color: transparent;
    background-clip: text;
}

#container {
    height: 75vh;
    width: 100vw;
}

#logo-div, #showcase-div, footer {
    background-color: rgb(12, 16, 20);
}

#logo-div, #showcase-div {
    border-right-color: rgb(65, 78, 91);
    border-right-width: 1px;
    border-right-style: solid;
}

#logo-div {
    display: flex;
    align-items: flex-end;
    padding-left: 45px;
    padding-right: 45px;
    position: fixed;
    top: 0;
    left: 0;
    height: 15vh;
    width: 60vw;
    box-sizing: border-box;
    z-index: 10;
}

#instagram-logo {
    height: 75px;
}

#showcase-div {
    border-bottom-color: rgb(65, 78, 91);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    position: fixed;
    left: 0;
    top: 15vh;
    width: 60vw;
    height: 70vh;
    box-sizing: border-box;
}

#showcase-title-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
}

#showcase-title {
    text-align: center;
    width: 65%;
    min-width: 275px;
    font-size: clamp(25px, 2.5vw, 35px);
}

#stories-img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

#stories-img {
    width: 60%;
    min-width: 350px;
}

#user-div {
    background-color: rgb(24, 34, 38);
    border-left: 1px solid rgb(65, 78, 91);
    position: fixed;
    right: 0;
    top: 0;
    height: 85vh;
    width: 40vw;
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-form-div {
    margin-bottom: 50px;
    min-width: 350px;
    max-width: 500px;
}

#misc-div {
    min-width: 350px;
    max-width: 500px;
}

#facebook-logo {
    width: 16px;
    margin-right: 10px;
    vertical-align: middle;
}

#login-title {
    font-weight: 425;
    font-size: 17px;
    margin-bottom: 25px;
}

#submit-button {
    background-color: rgb(24, 119, 242);
    border: none;
    margin-top: 20px;
    margin-bottom: 10px;
}

#submit-button:hover {
    background-color: rgb(66, 137, 231);
}

#forgot-password-button {
    border: none;
}

#login-facebook-button {
    border-color: rgb(53, 60, 67);
    margin-bottom: 10px;
}

#create-account-button {
    color: rgb(24, 129, 242);
    border-color: rgb(24, 129, 242);
    margin-bottom: 25px;
}

#meta-logo-div {
    text-align: center;
}

#meta-logo {
    width: 60px;
}

#showcase-title {
    font-family: "Playwrite NZ Basic";
    color: white;
}

#down-div {
    display: flex;
    justify-content: center;
    align-content: center;
}

#lang-list-div, #copyright-div {
    display: inline-block;
    align-content: center;
}

@media only screen and (max-width: 950px) {
    #showcase-div {
        display: none;
    }

    #user-div {
        width: 100vw;
        height: 70vh;
        top: 15vh;
        border-left: none;
        border-top: 1px solid rgb(65, 78, 91);
    }

    #logo-div {
        width: 100vw;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgb(65, 78, 91);
        border-right: none;
    }

    #instagram-logo {
        width: 50px;
    }

    #login-form-div, #misc-div {
        width: 500px;
    }
}

